body {
font-family: 'Raleway', sans-serif;
color: #333030;
}

header {
	background-color: #000000;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 15px;
	border-bottom: 2rem solid #C0281B;
	padding: 1.5rem 0;
}

header .ul {
	color: white;
}

header .menu a {
	color: white;

}

.welcome {
	padding: 2rem 0;
}

.hamburger {
	color: white;
}


@media screen and (max-width: 39.9375em){
  header .menu {
    /* position menu on top, full screen */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    /* position content in vertical center */
    flex-direction: column;
    justify-content: center;
    /* add styling details */
    padding: 2rem;
    background-color: #C0281B;
  }
  header .menu li {
    /* override Foundation class and align content on left */
    justify-content: flex-start !important;
    /* add styling details */
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
  }
  header .menu li a {
    /* add styling details */
    color: #ffffff;
  }
  header button {
    cursor: pointer;
  }
  header button.show-for-small-only {
    position: relative;
    z-index: 2;
  }
  header button.show-for-small-only.btnToggle {
    color: #ffffff;
  }
}

ul {
	color: white;
}

.reviews {
	padding: 4rem 0;
}

.reviews .orbit-slide div {
	background-color: #C0281B;
	color: white;
	padding: 3rem;
	min-height: 15rem;
}

.reviews-content {
	border: 3px solid red;
	padding: 2rem;
	min-height: 15rem;
}

.reviews .menu li a i {
	margin-right: 1rem;
}


footer {
	background-color: #000000;
	font-family:  'Raleway';
	color: #ffffff;
	border-top: 2rem solid #C0281B;
}

/*i {
	font-size: 2rem;
}
*/

.fa-brands {
	font-size: 2rem;
	color: white;
}

.fa-solid {
	color: #C0281B;
	font-size: 2rem;
	font-family: 'Raleway';
}

form {
	font-family: 'Raleway';
	color: #ffffff;
}

form label {
	font-family: 'Raleway';
	color: #ffffff;
}

h1 {
font-family: 'Raleway', sans-serif;
font-size: 100px;
text-align: center;
}

h2 {
font-family: 'Raleway', sans-serif;
font-size: 50px;
text-align: center;

}

h3 {
font-size: 1.5rem;
font-family: 'Raleway', sans-serif;
}

.button {
	border: none;
	color: #ffffff;
	background-color: #C0281B;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin: 4px 2px;
	display: inline-block;
	cursor: pointer;
}

/*.reviewer {
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	color: black;
}
*/





